<!-- app.component.html -->
<div class="container text-center">
  <table
    mat-table
    [dataSource]="dataSource"
    #authortable
    class="author-table mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a (click)="showUpdateForm(element)">Edit</a> |
        <a (click)="deleteAuthor(element.id)">Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <button mat-button mat-flat-button color="primary" (click)="showAddForm()">
    Add Row
  </button>

  <div *ngIf="isUpdateActivated || isAddActivated" class="form-container">
    <h3 *ngIf="isUpdateActivated">Author id: {{ author.id }}</h3>

    <form
      (ngSubmit)="
        isUpdateActivated ? updateAuthor(authorForm) : addAuthor(authorForm)
      "
      #authorForm="ngForm"
    >
      <mat-form-field color="accent">
        <input
          matInput
          #input
          class="form-control"
          placeholder="name"
          [maxLength]="50"
          [(ngModel)]="author.name"
          name="name"
          required
        />
        <mat-error *ngIf="authorForm.invalid">{{
          authorForm.errors
        }}</mat-error>
        <mat-hint align="end">{{ input.value?.length || 0 }}/50</mat-hint>
      </mat-form-field>

      <div>
        <button mat-button type="submit" [disabled]="authorForm.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
