<mat-toolbar color="primary">
  Demo App
  <span class="spacer"></span>
  <button
    mat-flat-button
    color="primary"
    routerLink="home"
    routerLinkActive="active"
  >
    Home
  </button>
  <button
    mat-flat-button
    color="primary"
    routerLink="books"
    routerLinkActive="active"
  >
    Books
  </button>
  <button
    mat-flat-button
    color="primary"
    routerLink="authors"
    routerLinkActive="active"
  >
    Author
  </button>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
